tests/test_data/sample_package/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:example="http://www.example.org/schema/mule/example"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
                          http://www.example.org/schema/mule/example http://www.example.org/schema/mule/example/current/mule-example.xsd">

    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <apikit:config name="api-config" raml="../resources/api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
    </flow>

    <flow name="get:/example:api-config" doc:id="a1b2c3d4-e5f6-7890-1234-567890abcdef">
        <!-- This flow implements the /example GET endpoint from api.raml -->
        <!-- Dependency usage reference: org.example:example-dependency -->
        <set-payload value="#['Response from /example implementation']" doc:name="Set Payload"/>
        <!-- Adding a dummy component to reference the example dependency -->
        <example:transform doc:name="Example Transformer"/>
    </flow>

</mule>
