tests/test_data/sample_flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <flow name="get:/example:api-config" doc:id="a1b2c3d4-e5f6-7890-1234-567890abcdef">
        <http:listener config-ref="api-httpListenerConfig" path="/example" allowedMethods="GET" doc:name="Listener"/>
        <set-payload value="#['Response from /example']" doc:name="Set Payload"/>
    </flow>

    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
</mule>
